 <!-- ============================================================== -->
 <section id="wrapper">
  <div class="login-register" style="background-image:url(../assets/images/background/ima.jpeg);">
<div class="login-box card">
<div class="card-body">
<form class="form-horizontal form-material" id="loginform" action="pages-register1.html">
<h3 class="box-title m-b-20">Registrarse</h3>
<div class="form-group">
<div class="col-xs-12">
  <input class="form-control" type="text" required="" placeholder="Nombre">
</div>
</div>
<div class="form-group ">
<div class="col-xs-12">
  <input class="form-control" type="text" required="" placeholder="Apellidos">
</div>
</div>
<div class="form-group ">
<div class="col-xs-12">
  <input class="form-control" type="password" required="" placeholder="Teléfono">
</div>
</div>
<div class="form-group">
<div class="col-xs-12">
  <input class="form-control" type="password" required="" placeholder="Edad">
</div>
</div>
<div  class="form-group form-check">
<label for="start">Fecha de nacimiento</label>
<input type="date" id="start" name="trip-start"
 value="2018-07-22"
 min="2018-01-01" max="2018-12-31">
</div>

<div>
<label for="start">Sexo</label>
<div class="form-group form-check">
  <input type="checkbox" class="form-check-input" id="exampleCheck1">
  <label class="form-check-label" for="exampleCheck1">Hombre</label>
<div class="form-group form-check">
  <input type="checkbox" class="form-check-input" id="exampleCheck2">
  <label class="form-check-label" for="exampleCheck2">Mujer</label>
 </div>
</div>
</div>

<div class="col-md-12">
<div class="checkbox checkbox-success p-t-0">
  <input id="checkbox-signup" type="checkbox"  class="filled-in chk-col-light-blue">
  <label for="checkbox-signup">He leído y acepto las <a href="javascript:void(0)"> Condiciones</a></label>
</div>
</div>


<div class="form-group text-center p-b-20">
<div class="col-xs-12">
  <button class="btn btn-block btn-lg btn-success btn-rounded" type="submit" routerLink="/register2">Siguiente</button>
</div>
</div>
</form>
</div>
</div>
</div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
