<div class="row">
       <div class="col-12">
           <div class="card">
  <div class="card-body">
      <h4 class="card-title">Lista de usuarios conectados</h4>
      <h6 class="card-subtitle"></h6>
      <div class="table-responsive">
        <!--<button type="button" class="btn btn-success" style="float: right;" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Nuevo usuario</button>-->
        <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="10">
 <thead>
     <tr>
         <th>Id</th>
         <th>Nombre</th>
         <th>Correo electrónico</th>
         <th>Estado</th>
         <th>Opciones</th>
     </tr>
 </thead>
 <tbody>
     <tr>
         <td>1</td>
         <td>Adriana</td>
         <td>Adriana@gmail.com</td>
         <td><span class="label label-danger">Desconectado</span> </td>
         <td>
  <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
            <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger m-r-10"></i> </a>
            <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-ban text-dark"></i> </a>
         </td>
     </tr>
     <tr>
         <td>2</td>
         <td>Pedro</td>
         <td>Pedro@gmail.com</td>
         <td><span class="label label-danger">Desconectado</span> </td>
         <td>
        <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
        <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger m-r-10"></i> </a>
        <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-ban text-dark"></i> </a>
         </td>
     </tr>
     <tr>
         <td>3</td>
         <td>Móises</td>
         <td>moy@gmail.com</td>
         <td><span class="label label-success">Conectado</span></td>
         <td>
        <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
        <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger m-r-10"></i> </a>
        <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-ban text-dark"></i> </a>
         </td>
     </tr>
 </tbody>
 <tfoot>
     <tr>
         <td colspan="7">
<div class="text-right">
    <ul class="pagination"> </ul>
</div>
         </td>
     </tr>
 </tfoot>
          </table>
      </div>
  </div>
           </div>
       </div>
   </div>
   <!--modal-->
   <!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog" role="document">
  <div class="modal-content">
  <div class="modal-header">
  <h4 class="modal-title" id="exampleModalLabel1">Nueva usuario</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
  <form>
  <div  class="form-group form-check">
  <label for="start">Fecha</label>
  <input type="date" id="start" name="trip-start"
  value="2018-07-22"
  min="2018-01-01" max="2018-12-31">
  </div>
  <div class="form-group">
  <label for="message-text" class="control-label">Receta:</label>
  <textarea class="form-control" id="message-text1"></textarea>
  </div>
  </form>
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
  <button type="button" class="btn btn-success">Registrar</button>
  </div>
  </div>
    </div>
  </div>-->
