<div class="row">
<div class="col-12">
<div class="card">
<div class="card-body">
<h4 class="card-title">Instituciones médicas</h4>
<h6 class="card-subtitle"></h6>
<button type="button" class="btn btn-rounded btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" style="float: right;">Nuevo hospital</button>

<div class="table-responsive">
<table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="10">
<thead class="table-success">
<tr>
<th>Id</th>
<th>Nombre</th>
<th>Dirección</th>
<th>Acciones</th>

</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>IMMS</td>
<td>Av.9 Cordoba Veracruz</td>
<td>
  <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
  <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger m-r-10"></i> </a>
  <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-ban text-dark"></i> </a>
</td>
</tr>
<tr>
<td>2</td>
<td>Covadonga</td>
<td>Av.12 Córdoba Veracruz</td>
<td>
<a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
<a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger m-r-10"></i> </a>
<a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-ban text-dark"></i> </a>
</td>
</tr>
</table>
</div>
</div>
</div>


</div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<h4 class="modal-title" id="exampleModalLabel1">Registrar nuevo hospital</h4>
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
<form>
<div class="form-group">
<label for="recipient-name" class="control-label">Nombre:</label>
<input type="text" class="form-control" id="recipient-name1">
</div>
<div class="form-group">
<label for="recipient-name" class="control-label">Dirección:</label>
<input type="text" class="form-control" id="recipient-name1">
</div>
</form>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-rounded btn-danger m-r-10" data-dismiss="modal">Cancelar</button>
<button type="button" class="btn btn-rounded btn-success">Guardar</button>
</div>
</div>
</div>
</div>
