<body id="default_theme" class="team">
  <!-- header -->
  <header class="header header_style1">
<div class="container">
<div class="row">
 <div class="col-md-9 col-lg-10">
<div class="logo"><a routerLink="/informacion"><img src="../../../assets/images/healthwell.png" alt="#" /></a></div>
<div class="main_menu float-right">
<div class="menu">
   <ul class="clearfix">
    <li class="active"><a routerLink="/informacion">Inicio</a></li>
    <li class="active"><a routerLink="/equipo">Equipo de trabajo</a></li>
   </ul>
</div>
</div>
 </div>
 <div class="col-md-3 col-lg-2">
  <div class="right_bt"><a class="bt_main btn-rounded" routerLink="/login">Iniciar sesión</a> </div>
</div>
</div>
</div>
  </header>
  <section id="banner_parallax" class="inner_page_banner slide_banner1">
<div class="container">
<div class="row">
 <div class="col-md-12">
<div class="full">
<div class="slide_cont">
   <h2>Equipo</h2>
</div>
</div>
 </div>
</div>
</div>
  </section>
  <!-- end header -->
  <!-- section -->
  <br>
  <br>
  <section class="layout_padding">
<div class="container">
<div class="row">
  <div class="col-sm-12">
    <div class="full text_align_center">
 <div class="heading_main center_head_border heading_style_1">
<h2>Equipo HealthWell</h2>
 </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
    <div class="full team_blog">
 <div class="team_member_img"><img src="../../../assets/images/avatar1.png" alt="#"></div>
 <div class="team_imform">
<p class="team_mem_name">Erandy Guadalupe Hernández Flores</p>
<p>Lider del equipo / Desarrolladora BackEnd</p><br>
<p>Correo: erandyh025@gmail.com</p>
 </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
    <div class="full team_blog">
 <div class="team_member_img"><img src="../../../assets/images/avatar3.png" alt="#"></div>
 <div class="team_imform">
<p class="team_mem_name">Moises Mártinez Cid</p>
<p>Tester / Desarrollador FrondEnd</p><br>
<p>Correo: mmoisess591@gmail.com</p>
 </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
    <div class="full team_blog">
 <div class="team_member_img"><img src="../../../assets/images/avatar2.png" alt="#"></div>
 <div class="team_imform">
<p class="team_mem_name">Diana Lysete Basilio Evangelista</p>
<p>Diseñadora gráfica / Desarrolladora Móvil</p><br>
<p>Correo: dianabasilio@gmail.com</p>
 </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
    <div class="full team_blog">
 <div class="team_member_img"><img src="../../../assets/images/avatar4.png" alt="#"></div>
 <div class="team_imform">
<p class="team_mem_name">Pedro Baz Pérez</p>
<p>Analista / Desarrollador FrondEnd</p><br>
<p>Correo: pedrobaz17@gmail.com</p>
 </div>
    </div>
  </div>
</div>
</div>
</section>
  <!-- end section -->
  <!-- section -->

  <!-- end section -->
  <!-- footer -->
  <footer class="footer_style_2">
<div class="footer_top">
<div class="container">
 <div class="row">
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 margin_bottom_30">
<div class="full width_9" style="margin-bottom:25px;"> <a routerLink="/informacion"><img class="img-responsive" width="250" src="../../../assets/images/healthwell.png" alt="#"></a> </div>
<div class="full width_9">
   <p>El proyecto HealthWell fue desarrollado con la finalidad de mejorar el estilo de vida de las personas, tanto nosotros los desarrolladores, como todo aquel que aporto su granito de arena para su creación
estamos comprometidos a mejorar constantemente para que cada usuario que la utilize pueda mejorar su estilo de vida.</p>
</div>
<div class="full width_9">
   <p>De todo corazón, esperamos que estas aplicaciones sean de gran ayuda para su mejora, con cariño, todo el Equipo HealthWell...</p>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 margin_bottom_30">
<div class="full">
   <div class="footer_blog_2 width_9">
<h3>Twitter Feed</h3>
<p><i class="fa fa-twitter"></i> Creative_Talent - 26 mins
Te invitamos a seguir la cta. de WEntrepreneur_ ¡Atrévete! #Emprendimiento #PyMES #Economía #Bussines #Negocios https://t.co/Y7tZMmxGHn
</p>
<p><i class="fa fa-twitter"></i> Creative_Talent - 26 mins
Te invitamos a seguir la cta. de WEntrepreneur_ ¡Atrévete! #Emprendimiento #PyMES #Economía #Bussines #Negocios https://t.co/Y7tZMmxGHn
</p>
   </div>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 margin_bottom_30">
<div class="full">
   <div class="footer_blog_2">
<h3>Social</h3>
   </div>
</div>
<div class="full">
   <ul class="footer-links">
<li><a><i class="fa fa-facebook"></i> 256 Likes</a></li>
<li><a><i class="fa fa-github"></i> 57+ Projects</a></li>
<li><a><i class="fa fa-twitter"></i> 1,258 Followers</a></li>
<li><a><i class="fa fa-pinterest"></i> 2538+ Pins</a></li>
   </ul>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 margin_bottom_30">
<div class="full">
   <div class="footer_blog_2 width_9">
<h3>Team</h3>
   </div>
   <div class="blog_post_footer">
<div class="blog_post_img"> <img width="80" height="80" src="../../../assets/images/Andy.png" alt="#"> </div>
<div class="blog_post_cont">
<p class="date">Líder del equipo</p>
<p class="post_head">Desarrolladora BackEnd</p>
</div>
   </div>
   <div class="blog_post_footer">
<div class="blog_post_img"> <img width="80" height="80" src="../../../assets/images/Moy.png" alt="#"> </div>
<div class="blog_post_cont">
<p class="date">Tester</p>
<p class="post_head">Desarrollador FrondEnd</p>
</div>
   </div>
   <div class="blog_post_footer">
<div class="blog_post_img"> <img width="80" height="80" src="../../../assets/images/Diana.png" alt="#"> </div>
<div class="blog_post_cont">
<p class="date">Artista Gráfico</p>
<p class="post_head">Desarrolladora Móvil</p>
</div>
   </div>
   <div class="blog_post_footer">
<div class="blog_post_img"> <img width="80" height="80" src="../../../assets/images/Pedro.png" alt="#"> </div>
<div class="blog_post_cont">
<p class="date">Analista</p>
 <p class="post_head">Desarrollador FrondEnd</p>
</div>
</div>
</div>
 </div>
</div>
</div>
</div>
<!-- footer bottom -->
<div class="footer_bottom">
<p>Diseñado y Desarrollado por: <strong>HealthWell.Proyect</strong></p>
</div>
  </footer>
</body>
