<section id="wrapper">
  <div class="login-register" style="background-image:url(../assets/images/background/ima.jpeg);">
      <div class="login-box card">
          <div class="card-body">
              <form class="form-horizontal form-material" id="loginform" action="pages-login-2.html">
                  <h3 class="box-title m-b-20">Registrarse</h3>
                  <div class="form-group ">
                      <div class="col-xs-12">
                          <input class="form-control" type="text" required="" placeholder="Correo">
                      </div>
                  </div>
                  <div class="form-group ">
                      <div class="col-xs-12">
                          <input class="form-control" type="password" required="" placeholder="Contraseña">
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-xs-12">
                          <input class="form-control" type="password" required="" placeholder="Confirmar contraseña">
                      </div>
                  </div>
                  <div class="form-group m-b-0">
                      <div class="col-sm-12 text-center">
                          <button class="btn btn-block btn-lg btn-success btn-rounded" type="submit" routerLink="/login">Registrarse</button>

                      </div>
                  </div>

              </form>
          </div>
      </div>
  </div>
</section>
