<div class="row">
  <div class="col-12">
<div class="card">
<!-- .left-right-aside-column-->


  <!-- /.left-aside-column-->
  <div class="right-aside ">
<div class="right-page-header">
<div class="d-flex">
  <div  class="align-self-center">
 <h4  id="heading" class="card-title m-t-10">LISTA DE PACIENTES</h4></div>
  <div class="ml-auto">
<input type="text"  id="demo-input-search2"  placeholder="Buscar..." class="form-control"> </div>
</div>
</div>
<div class="table-responsive">
<table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10">
  <thead>
<tr>
<th>No</th>
<th>Name</th>

</tr>
  </thead>
  <tbody>
<tr>
<td>1</td>
<td>
  <a id="list" routerLink="pacientes"><img src="../../../assets/images/users/carpeta.png" alt="user" class="img-circle" /> Moises Mártinez Cid</a>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td><img src="../../../assets/images/icon/flechafina.png" />
</td>
</tr>
<tr>
<td>2</td>
<td>
  <a id="list"  routerLink="erro3"><img src="../../../assets/images/users/carpeta.png" alt="user" class="img-circle" /> Pedro Baz Pérez</a>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td><img src="../../../assets/images/icon/flechafina.png" />
</td>
</tr>
<tr>
<td>3</td>
<td>
  <a id="list" href="app-contact-detail.html"><img src="../../../assets/images/users/carpeta.png" alt="user" class="img-circle" /> Diana Lysete Basilio Evangelista</a>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td><img src="../../../assets/images/icon/flechafina.png" />
</td>
</tr>
<tr>
<td>4</td>
<td>
  <a id="list" href="app-contact-detail.html"><img src="../../../assets/images/users/carpeta.png" alt="user" class="img-circle" /> Aldo David Pizarro </a>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td><img src="../../../assets/images/icon/flechafina.png" />
</td>
</tr>
<tr>
<td>5</td>
<td>
  <a id="list" href="app-contact-detail.html"><img src="../../../assets/images/users/carpeta.png" alt="user" class="img-circle" /> Deyanira Barrera Osorio</a>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td><img src="../../../assets/images/icon/flechafina.png" />
</td>
</tr>
<tr>
<td>6</td>
<td>
  <a id="list" href="app-contact-detail.html"><img src="../../../assets/images/users/carpeta.png" alt="user" class="img-circle" /> Ana Patricia Solorzano Lazaro</a>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td><img src="../../../assets/images/icon/flechafina.png" />
</td>
</tr>
<tr>
<td>7</td>
<td>
  <a id="list" href="app-contact-detail.html"><img src="../../../assets/images/users/carpeta.png" alt="user" class="img-circle" /> Javier Galaviz</a>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td><img src="../../../assets/images/icon/flechafina.png" />
</td>
</tr>
<tr>
<td>8</td>
<td>
  <a id="list" href="app-contact-detail.html"><img src="../../../assets/images/users/carpeta.png" alt="user" class="img-circle" /> Juan Pablo Hernández</a>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td><img src="../../../assets/images/icon/flechafina.png" />
</td>
</tr>
<tr>
<td>9</td>
<td>
  <a id="list" href="app-contact-detail.html"><img src="../../../assets/images/users/carpeta.png" alt="user" class="img-circle" /> Candelario Reyes Garcia </a>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td><img src="../../../assets/images/icon/flechafina.png" />
</td>
</tr>
<tr>
<td>10</td>
<td>
  <a id="list" href="app-contact-detail.html"><img src="../../../assets/images/users/carpeta.png" alt="user" class="img-circle" /> Oswaldo Medina Gallardo</a>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td><img src="../../../assets/images/icon/flechafina.png" />
</td>
</tr>
<tr>
<td>11</td>
<td>
  <a id="list" href="app-contact-detail.html"><img src="../../../assets/images/users/carpeta.png" alt="user" class="img-circle" /> Andres Murguia Hernández</a>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td><img src="../../../assets/images/icon/flechafina.png" />
</td>
</tr>
<tr>
<td>12</td>
<td>
  <a id="list" href="app-contact-detail.html"><img src="../../../assets/images/users/carpeta.png" alt="user" class="img-circle" /> Emmanuel Castro</a>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td><img src="../../../assets/images/icon/flechafina.png" />
</td>
</tr>
<tr>
<td>13</td>
<td>
  <a id="list" href="app-contact-detail.html"><img src="../../../assets/images/users/carpeta.png" alt="user" class="img-circle" /> Tomas Chevez</a>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td><img src="../../../assets/images/icon/flechafina.png" />
</td>
</tr>
  </tbody>
  <tfoot>
<tr>
<td colspan="2">
 </td>

<td colspan="7">
  <div class="text-right">
<ul class="pagination"> </ul>
  </div>
</td>
</tr>
  </tfoot>
</table>
</div>
<!-- .left-aside-column-->
  </div>
  <!-- /.left-right-aside-column-->
</div>
</div>
  </div>
